* {
    padding: 0;
    margin: 0;
}
#game {
    background: #eee;
    display: block;
    margin: 0 auto;
}
.controller-box {
    display: flex;
    justify-content: space-evenly;
}
.webcam-box {
    margin-top: 20px;
    display: flex;
    vertical-align: top;
    justify-content: center;
    text-align: center;
}
#webcam {
    display: block;
    margin-top: 24px;
}

.right-button {
    border: none;
    outline: none;
    background: transparent;
    display: block;
    margin: 0 20px;
}
.left-button {
    border: none;
    outline: none;
    background: transparent;
    transform: rotate(180deg);
    margin: 0 20px;
}

.selected {
    outline: 2px solid red;
}

.train-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.train {
    font-size: 1.5em;
}
.loss {
    display: inline-block;
    width: 230px;
}
.train-info {
    visibility: hidden;
}
.predict-box {
    display: flex;
    justify-content: center;
}

.predict {
    font-size: 1.5em;
}

.left-prob,
.right-prob {
    height: 24px;
}
